.band {
  position: relative;
  padding: var(--space-xl) var(--space-l);
}

@media only screen and (min-width: 750px) {
  .band {
    padding: var(--space-3xl) var(--space-l);
  }
}

.band[data-band-color='primary'] {
  background-color: var(--c-blue-dark);
  color: var(--c-white);
}

.band[data-band-color='secondary'] {
  background-color: var(--c-blue-light);
}

.band[data-band-color='waves'] {
  color: var(--c-white);
}

.bandContent {
  position: relative;
  max-width: 170rem;
  margin: 0 auto;
}

.bandImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bandImage::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background: linear-gradient(0deg, rgba(26, 150, 202, 0) 41.3%, #1a96ca 100%);
  mix-blend-mode: multiply;
}

.bandImage > * {
  height: 100%;
  width: 100%;
}

.band > *:not(:last-child) {
  margin-bottom: var(--space-3xl);
}
