.share {
  margin-top: 2rem;
}

.heading {
  margin: 0;
}

.shareList {
  display: flex;
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

.shareItem {
  margin-right: 1.5rem;
}

.shareItem svg {
  height: 30px;
  fill: #444;
  width: 30px;
}
