@media only screen and (max-width: 749px) {
  .ctaGrid > *:first-child {
    padding-top: 0;
  }

  .ctaGrid > *:last-child {
    padding-bottom: 0;
  }

  .ctaGrid > *:not(:last-child) {
    border-bottom: 6px dotted;
  }
}

@media only screen and (min-width: 750px) {
  .ctaGrid {
    display: flex;
    justify-content: center;
  }

  .ctaGrid > *:not(:last-child) {
    border-right: 6px dotted;
  }
}
