.signupHeading {
  font-size: var(--font-scale-2);
  font-weight: 700;
  margin-bottom: var(--space-l);
}

@media only screen and (min-width: 750px) {
  .signupHeading {
    text-align: center;
  }
}

/* Overrides to fix the acton form styles */
:global(.ao-form-error-message) {
  position: absolute;
}

:global(.ao-block-wrapper) {
  display: flex;
}

:global(.ao-block-wrapper div) {
  display: flex;
  max-width: 100%;
}

:global(.ao-form input) {
  background: transparent;
  border: 3px solid var(--c-blue-light) !important;
  color: var(--c-white) !important;
  width: 34rem !important;
}

:global(.ao-form label.ao-form-label) {
  display: none !important;
}

:global(.ao-form button.ao-form-submit) {
  margin: 0;
  text-transform: none;
  background: var(--c-blue-light) !important;
  padding: var(--space-l) var(--space-xl) !important;
  min-width: 20rem;
  font-size: var(--font-scale-1);
  font-family: inherit !important;
}

@media only screen and (max-width: 699px) {
  :global(.ao-form .ao-row .ao-column-inner > *:not(:last-child)) {
    margin-bottom: var(--space-l);
  }
}

@media only screen and (min-width: 700px) {
  :global(.ao-form .ao-row .ao-column-inner > *:not(:last-child)) {
    margin-right: var(--space-m);
  }
}
