.backIcon {
  margin-right: 10px;
  transform: rotate(180deg);
}

.rightContent {
  margin: 2rem 0 4rem;
}

@media only screen and (min-width: 700px) {
  .content {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .rightContent {
    order: 2;
    width: 45%;
  }

  .rightContent + .leftContent {
    order: 1;
    width: 52%;
  }

  .pageTitle {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    margin-bottom: 5rem;
    margin-top: 7rem;
  }
}

@media only screen and (min-width: 800px) {
  .ctaWrapper {
    display: flex;
  }

  .ctaWrapper > *:first-child {
    width: 60%;
  }

  .ctaWrapper > *:last-child {
    width: 40%;
  }
}
