/* Card */
.card {
  display: flex;
  flex-direction: column;
}

.cardHeading {
  font-size: var(--font-scale-0);
  margin-bottom: var(--space-s);
}

.cardText {
  font-size: var(--font-scale--1);
}

.cardImage {
  margin-bottom: var(--space-l);
  flex: 0 0 6rem;
}

.cardImage > * {
  display: block !important;
  height: 6rem !important;
}

.cardContent {
  order: 1;
}

.cardContent > *:last-child {
  margin-bottom: 0;
}
