.banner {
  background-color: #06425c;
  color: #d1dade;
  font-size: var(--font-scale--1);
  line-height: 1.4;
  padding: 1rem 2rem 1.2rem;
}

@media only screen and (min-width: 750px) {
  .banner {
    padding: 1.6rem 3.2rem;
  }
}

.bannerContent {
  margin: 0;
}

.bannerContent a:hover {
  color: #fff;
}
