@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://use.typekit.net/tep4bny.css");

.wave-background-mobile {
  background: #E6F5FC url('/images/waves-bg-mobile.png') top left;
  background-size: 300px;
}

.wave-body::after {
  @apply mix-blend-multiply absolute top-0 left-0;
  content: '';
  background: url('/images/wave.png') top left;
  background-size: 300px;
  display: block; 
  width: 100%;
  height: 400px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), 45%, rgba(0,0,0,0));
  z-index: -1;
}

.wave-header::after {
  @apply mix-blend-multiply absolute top-0 left-0 bottom-0;
  content: '';
  background: url('/images/wave.png') top left;
  background-size: 300px;
  display: block; 
  width: 100%;
  z-index: -1;
}

/* .wave-background-header::after {
  @apply mix-blend-multiply absolute top-0 left-0;
  content: '';
  bottom: -350px;
  background: url('/images/wave.png') top left;
  background-size: 75%;
  display: block; 
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), 45%, rgba(0,0,0,0));
  z-index: -1;
}

@media (min-width: 768px) {
  .wave-background-header::after {
    background-size: 40%;
  }
}

@media (min-width: 1024px) {
  .wave-background-header::after {
    background-size: 30%;
  }
}

.wave-background::before {
  content: '';
  position: fixed;
  top: -120px;
  left: 0;
  height: 400px;
  background: url('/images/wave.png') repeat-x top left;
  background-size: 100%;
  display: block;
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
} */