@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url("https://use.typekit.net/tep4bny.css");

.wave-background-mobile {
  background: #E6F5FC url('/images/waves-bg-mobile.png') top left;
  background-size: 300px;
}

.wave-body::after {
  @apply mix-blend-multiply absolute top-0 left-0;
  content: '';
  background: url('/images/wave.png') top left;
  background-size: 300px;
  display: block; 
  width: 100%;
  height: 400px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), 45%, rgba(0,0,0,0));
  z-index: -1;
}

.wave-header::after {
  @apply mix-blend-multiply absolute top-0 left-0 bottom-0;
  content: '';
  background: url('/images/wave.png') top left;
  background-size: 300px;
  display: block; 
  width: 100%;
  z-index: -1;
}

.wave-footer {
  background-image: url('/images/wave.png');
  background-size: 300px;
}

.wave-bkg {
  background-image: url('/images/wave.png');
}

.wave-bkg-mobile {
  background-image: url('/images/waves-bg-mobile.png');
}
