@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://use.typekit.net/tep4bny.css');

.wave-background-mobile {
  background: #e6f5fc url('/images/waves-bg-mobile.png') top left;
  background-size: 300px;
}

.dark .wave-background-mobile {
  background: #00405b url('/images/waves-bg-mobile-dark.png') top left;
  background-size: 300px;
}

.wave-body::after {
  @apply absolute top-0 left-0 mix-blend-multiply;
  content: '';
  background: url('/images/wave.png') top left;
  background-size: 300px;
  display: block;
  width: 100%;
  height: 400px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    45%,
    rgba(0, 0, 0, 0)
  );
  z-index: -1;
}

.wave-header::after {
  @apply absolute top-0 left-0 bottom-0 mix-blend-multiply;
  content: '';
  background: url('/images/wave.png') top left;
  background-size: 300px;
  display: block;
  width: 100%;
  z-index: -1;
}

.wave-footer {
  background-image: url('/images/wave.png');
  background-size: 300px;
}

.wave-bkg {
  background-image: url('/images/wave.png');
}

.wave-bkg-mobile {
  background-image: url('/images/waves-bg-mobile.png');
}

.dark .prose pre code,
.prose pre code {
  @apply bg-transparent p-0;
}

.gist .gist-file a {
  @apply shadow-none;
}

.squiggle::after {
  background: url('/images/together-squiggle.png') no-repeat top left;
  @apply absolute left-0 -bottom-[109%] h-full w-full bg-contain content-[''];
}

.wave-hero {
  --tw-gradient-from: #00405b;
  --tw-gradient-to: #460f3f;
  background-image: url('/images/waves-hero.png'),
    linear-gradient(to bottom, var(--tw-gradient-from), var(--tw-gradient-to));
}

.brand-consistency {
  font-style: normal;
  @apply relative whitespace-nowrap;
}

.brand-consistency::after {
  background: url('/images/brand-consistency.png') no-repeat top left;
  @apply absolute left-0 -top-11 h-full w-full max-w-[200px] translate-x-[20%] bg-contain content-[''] md:-top-20 md:max-w-none lg:-top-24;
}

.blueprint {
  @apply relative;
}

.blueprint::after {
  @apply absolute inset-0 z-0;
  content: '';
  background-size: 20px 20px;
  background-image: linear-gradient(
      to right,
      theme('colors.emulsifyBlue.200') 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      theme('colors.emulsifyBlue.200') 1px,
      transparent 1px
    );
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.webinar-gradient {
  width: 100vw;
  height: 50vh;
  filter: blur(50px);
  background-image: linear-gradient(theme(colors.emulsifyBlue.300), theme(colors.violet.200), theme(colors.violet.300));
  animation: webinar-gradient-rotate 30s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

@media (prefers-reduced-motion) {
  .webinar-gradient {
    animation: none;
  }
}

.dark .webinar-gradient {
  background-image: linear-gradient(theme(colors.emulsifyBlue.800), theme(colors.violet.900), theme(colors.violet.800));
}

@keyframes webinar-gradient-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}