@media only screen and (min-width: 500px) {
  .meta {
    display: flex;
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 2rem;
  }
  
  .meta a::after {
    color: #aaa;
    content: "|";
    margin: 0 0.5rem;
  }
}

.meta p {
  margin: 0;
}

.caseStudyImg {
  margin-bottom: 3rem;
}
