.header {
  overflow: hidden;
  position: relative;
}

.heroImage {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heroImage::after {
  background: linear-gradient(0deg, rgba(26, 150, 202, 0) 41.3%, #1A96CA 100%);
  mix-blend-mode: multiply;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.heroImage * {
  height: 100%;
  width: 100%;
}

.headerHome {
  background-position: 0 53%;
  padding-bottom: 0;
}

.headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8rem;
}

.content {
  position: relative;
}

@media only screen and (min-width: 700px) {
  .headerWrapper {
    padding: 1.6rem 1.6rem 2.1rem;
  }
}

.logo {
  background: url(../../../img/logo.svg) no-repeat scroll 0 0;
  background-size: contain;
  display: block;
  height: 0;
  overflow: hidden;
  margin-top: 1rem;
  padding-top: 115px;
  position: relative;
  width: 190px;
}

@media only screen and (min-width: 700px) {
  .logo {
    margin-top: 2rem;
    padding-top: 161px;
    width: 420px;
  }
}

.heading {
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2;
  margin: 3rem 0 1rem;
  position: relative;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .heading {
    font-size: 2.25rem;
    margin: 4rem 0 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .heading {
    font-size: 3.6rem;
    margin: 7rem 0 4rem;
  }
}

.headingSmall {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
