.hero {
  color: #fff;
  text-align: center;
  padding: var(--space-2xl) var(--space-l);
  max-width: 130.6rem;
  margin: 0 auto;
}

.heroHeading {
  font-size: var(--font-scale-5);
  letter-spacing: -0.55px;
  margin-bottom: var(--space-xl);
}

@media only screen and (min-width: 750px) {
  .heroHeading {
    margin-bottom: var(--space-2xl);
  }
}

@media only screen and (min-width: 1024px) {
  .heroHeading {
    margin-bottom: var(--space-3xl);
  }
}
