/* Footer */
.footer {
  background-color: #06425C;
  color: #fff;
  padding: 3rem 0;
}

.footerParts {
  margin-bottom: 5rem;
}

@media only screen and (min-width: 940px) {
  .footerParts {
    display: flex;
    justify-content: space-between;
  }

  .footerPart2 {
    width: 45%;
  }
}

.footerHeading {
  font-size: 2.4rem;
  font-weight: bold;
}

.logo {
  background: url(../../../img/logo.svg) no-repeat scroll 0 0;
  background-size: contain;
  display: block;
  height: 0;
  overflow: hidden;
  margin-top: 1rem;
  padding-top: 115px;
  position: relative;
  width: 190px;
}

.footer a {
  color: #CDE9F4;
}

.footer a:hover {
  color: white;
}

.footerLink {
  display: block;
  margin-bottom: 1rem;
}

.tm {
  font-size: 1.4rem;
}
