.preview {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.preview + .preview {
  border-top: 1px dashed #1b84be;
  padding-top: 4rem;
  position: relative;
}

.previewTitle {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

.previewTitle a {
  text-decoration-color: #1a96ca;
  text-decoration-thickness: 2px;
  text-underline-offset: 1.5px;
  transition: all 0.15s;
}

.previewTitle a:hover {
  background-color: #c2e4f2;
}

.author {
  text-transform: uppercase;
  margin: 0.5rem 0 3rem;
}

.description {
  font-size: 1.6rem;
}

@media only screen and (min-width: 700px) {
  .preview {
    display: flex;
  }

  .image {
    margin-bottom: 0;
    margin-right: 3rem;
    width: 25%;
  }

  .content {
    width: 75%;
  }
}
