.preview {
  margin-bottom: 3rem;
}

.previewTitle {
  font-size: 3rem;
  margin-bottom: 0.15rem;
  margin-top: 0;
}

.author {
  margin: 0.5rem 0 1rem;
}

@media only screen and (min-width: 700px) {
  .preview {
    display: flex;
    margin-bottom: 3rem;
  }
  
  .image {
    margin-bottom: 0;
    margin-right: 3rem;
    width: 25%;
  }
  
  .content {
    width: 75%;
  }
}
