.teaser {
  display: grid;
  gap: var(--space-l);
}

[data-teaser-variation='grid'].teaser,
[data-teaser-variation='list'].teaser {
  grid-template:
    'image'
    'content';
}

@media only screen and (min-width: 750px) {
  [data-teaser-variation='list'].teaser {
    grid-template:
      'image content' max-content
      'image content' / 1fr 2fr;
  }
}

.teaserLabel {
  color: var(--c-blue-dark);
  font-size: var(--font-scale--2);
  font-weight: bold;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

.teaserImage {
  grid-area: image;
}

.teaserImage img {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.teaserContent {
  grid-area: content;
}

.teaserHeadingLink {
  text-decoration: none;
}

.teaserHeading {
  font-size: var(--font-scale-2);
  font-weight: bold;
  margin-bottom: var(--space-m);
}

.teaserText {
  font-size: var(--font-scale--2);
  font-weight: normal;
}

.teaserText p {
  margin-bottom: var(--space-m);
}

.teaserLinkText {
  font-size: var(--font-scale--2);
  font-weight: bold;
  text-decoration: none;
  color: var(--c-blue-light);
}
