.mainContent {
  display: grid;
  gap: var(--space-l);

  /* Desired content max-width is 112rem. Since we're adding padding below, we
     need to account for that here. */
  max-width: calc(112rem + calc(var(--space-band-horizontal) * 2));
  margin: 0 auto;
  padding: calc(var(--space-band-vertical) / 2) var(--space-band-horizontal)
    calc(var(--space-band-vertical) * 2);
}

@media only screen and (min-width: 750px) {
  .mainContent {
    grid-template-columns: 3fr 1fr;
    gap: var(--space-xl);
  }
}

@media only screen and (min-width: 1024px) {
  .mainContent {
    gap: var(--space-3xl);
  }
}
