.richText {
  letter-spacing: -0.2px;
}

.richText a {
  font-weight: 500;
}

.richText h2 {
  font-size: var(--font-scale-2);
  margin-bottom: var(--space-l);
}

.richText * ~ h2 {
  margin-top: var(--space-xl);
}

.richText h3 {
  font-size: var(--font-scale-1);
  margin-bottom: var(--space-l);
}

.richText * ~ h3 {
  margin-top: var(--space-xl);
}

.richText img {
  margin: var(--space-margin-overflow);
  max-width: calc(100% + calc(var(--space-band-horizontal) * 2));
}

@media only screen and (min-width: 750px) {
  .richText img {
    max-width: calc(100% + calc(var(--space-band-horizontal) / 1.5));
  }
}

.richText pre {
  background: #eff4f7;
  border: 1px solid #bbd0dd;
  padding: 3rem 3rem;
  border-radius: 4px;
  width: 100%;
  overflow: scroll;
  color: #475961;
}
