.authorInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--font-scale-1);
}

.authorInfoImage {
  margin-right: var(--space-m);
  max-height: 9rem;
  max-width: 9rem;
}

.authorInfoImage > * {
  border-radius: 100vmax;
  overflow: hidden;
}

@media only screen and (max-width: 749px) {
  .authorInfoImage {
    margin-bottom: var(--space-m);
  }
}

.authorInfoContent {
  display: flex;
  flex-wrap: wrap;
}

.authorInfoContent > *:not(:last-child) {
  margin-right: var(--space-m);
}

.authorInfoName {
  font-weight: bold;
}
