.backLink {
  font-size: var(--font-scale--1);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--space-band-vertical) / 2);
}

.backLink svg {
  transform: rotate(180deg);
  width: 1.3rem;
  margin-right: var(--space-s);
}
