.os {
  background: #1a96ca;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .os {
    padding: 0 22rem;
  }
}

.demo {
  background: #eff3f5;
  padding: 2rem 1rem;
}

@media only screen and (min-width: 700px) {
  .demo {
    padding: 0;
  }
}

.tech {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  .tech {
    padding: 4rem 0;
  }
}

.techHeading {
  color: #085a7d;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 700px) {
  .techHeading {
    font-size: 4.8rem;
    font-weight: 800;
  }
}

.techItem {
  margin-bottom: 4rem;
}

.techItemImage {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 700px) {
  .techItems {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .techItem {
    width: 45%;
  }
}
