.os {
  background: #1A96CA;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
  .os {
    padding: 0 22rem;
  }
}


.demo {
  background: #EFF3F5;
}

.tech {
  padding: 4rem 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.techHeading {
  color: #085A7D;
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 1024px) {
  .techItems {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.techItem {
  width: 45%;
}
