html {
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  line-height: 1.65;
}

body {
  background: #fff;
  color: #000;
  font-size: 1.8rem;
  margin: 0;
}

p {
  margin: 0 0 2rem;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: #06425C;
  font-size: 3rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.9rem;
}

@media only screen and (min-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  h5 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 6.4rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }
  
}

a {
  color: currentColor;
}

blockquote {
  border-left: 2px solid #eee;
  font-style: italic;
  padding-left: 1rem;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  blockquote {
    padding-left: 2rem;
  }
}

.button {
  background-color: #1A96CA;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.2rem 2rem;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .button {
    font-size: 1.8rem;
    padding: 1.6rem 2.7rem;
  }
}

.button--dark {
  background-color: #06425c;
  font-size: 1.8rem;
  padding: 1.2rem 3rem;
}

@media only screen and (min-width: 700px) {
  .button--dark {
    font-size: 2rem;
    font-weight: 800;
    padding: 1.2rem 2rem;
  }
}

.button-icon {
  fill: white;
  margin-left: 1rem;
}

.button-center {
  display: block;
  margin: 0 auto;
  max-width: 115px;
}

.button:hover {
  background-color: #06425c;
  text-decoration: underline;
}

.button--dark:hover {
  background-color: #fff;
  color: #06425c;
}

.button--dark:hover .button-icon {
  fill: #06425c;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1.8rem 1.3rem;
}

.wrapper-relative {
  position: relative;
}

.wrapper-home {
  padding-top: 0.8rem;
}

@media only screen and (min-width: 900px) {
  .content-flex {
    display: flex;
    justify-content: space-between;
  }

  .content-flex > * {
    margin-right: 5%;
    width: 45%;
  }
}

@media only screen and (min-width: 700px) {
  .wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 3rem 2rem;
  }

  .wrapper-home {
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 1024) {
  .wrapper {
    margin: 0 auto;
    max-width: 1024px;
    padding: 3rem 0;
  }
}

.wrapper--content {
  max-width: 680px;
}

.content-wrapper {
  margin-bottom: 2rem;
}

.content-wrapper iframe {
    width: 100%;
}

/* Highlighted Content */
.highlighted {
  background-color: #eee;
  padding: 1.5rem;
}

.highlighted--warning {
  background-color: #f9dfdf;
}

/**
 * lists
 */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-relative {
  position: relative;
}

/**
 * Common Headline
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 * Video
 */
.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 56.25%; /* 56.25% = 16x9 */
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Acton */
#aoform-8cb720cf-340b-4191-8e54-6891b9f638fb {
  margin: 0 auto;
  text-align: left;
}

@media only screen and (min-width: 700px) {
  .ao-form .ao-row .ao-column-inner {
    display: flex;
    justify-content: center;
  }
}

.ao-form label.ao-form-label {
  color: white;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

.ao-form label.ao-form-label span {
  display: none;
}

#ao-form-8cb720cf-340b-4191-8e54-6891b9f638fb.ao-form input[type="text"] {
  color: rgba(8, 90, 125, 0.83);
  display: block;
  font-size: 1.8rem;
  line-height: 1;
  padding: 1.4rem 1.4rem;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  #ao-form-8cb720cf-340b-4191-8e54-6891b9f638fb.ao-form input[type="text"] {
    max-width: 370px;
  }
}

.ao-form button.ao-form-submit {
  background: url(../../img/envelope.svg) no-repeat scroll 130px 14px rgb(26, 150, 202) !important;
  font-size: 1.6rem !important;
  margin-left: 1rem;
  padding: 1.6rem 4.7rem 1.6rem 2.7rem !important;
  text-transform: uppercase;
}

.ao-form button.ao-form-submit:hover {
  background-color: #0cb1f9 !important;
}

@media only screen and (min-width: 700px) {
  .ao-form button.ao-form-submit {
    background-position: 140px 16px !important;
    font-size: 1.8rem !important;
    margin-top: 2.5rem;
  }
}
