.heading {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--font-scale-2);
  margin: 0 0 var(--space-m);
}

.heading svg {
  margin-right: var(--space-m);
}

/* Wistia Video */
:global(.wistia_responsive_padding) {
  position: relative;
  padding: 56.25% 0 0 0;
}

:global(.wistia_responsive_wrapper) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

:global(.wistia_embed) {
  position: relative;
  height: 100%;
  width: 100%;
}

:global(.wistia_swatch) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 200ms;
}

:global(.wistia_swatch img) {
  object-fit: contain;
  height: 100%;
  width: 100%;
  filter: blur(5px);
}
