.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-xl) var(--space-2xl);
  color: var(--c-yellow);
}

.ctaIcon svg {
  height: 12.4rem;
  width: 12.4rem;
}

.ctaText {
  font-size: var(--font-scale-3);
  font-weight: bold;
  letter-spacing: -0.31px;
  text-decoration: none;
}
