.nav {
  position: relative;
}

.mainNav {
  display: none;
}

@media only screen and (max-width: 749px) {
  .mainNavOpen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-y: scroll;
    background-color: var(--c-blue-dark);
    padding: 3rem 1.6rem 4rem;
  }
}

/* Icon to close mobile nav when it is open */
.mobileNavClose {
  display: flex;
  justify-content: flex-end;
  color: var(--c-yellow);
  margin-bottom: var(--space-l);
}

.mobileNavClose svg {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .mobileNavClose {
    display: none;
  }

  .mainNav {
    display: block;
  }
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (min-width: 750px) {
  .navigation {
    flex-direction: row;
  }
}

/* LI */
@media only screen and (max-width: 749px) {
  .navigationItem {
    margin-bottom: var(--space-xl);
  }
}

@media only screen and (min-width: 750px) {
  .navigationItem:not(:last-child) {
    margin-right: var(--space-2xl);
  }
}

.navlink {
  color: var(--c-white);
  font-size: var(--font-scale-4);
  line-height: var(--line-height-l);
  font-weight: 600;
  letter-spacing: -0.28px;
  text-decoration: none;
  margin: var(--space-s) 0;
  padding-bottom: var(--space-m);
  border-bottom: 5px solid transparent;
}

.navlink:hover {
  border-color: var(--c-yellow);
}

/* Toggle */
.toggle {
  background-color: transparent;
  border: none;
  color: var(--c-yellow);
  cursor: pointer;
  padding: 0;
}

@media only screen and (min-width: 750px) {
  .toggle {
    display: none;
  }
}

/* SVG icon */
.toggle svg {
  height: 4rem;
  width: 4rem;
}

.toggleOpen.open {
  display: none;
}
